.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
.main {
  flex: 1 0 auto;
}
.wrapper-row {
  height: -webkit-fill-available;
}
.row-no_margin {
  margin-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.wrapper-cols {
  height: 100%;
  border-right: 0.5px solid;
}
.wrapper-cols:last-child {
  border: 0 !important;
}
.wrapper-cols-h {
  box-shadow: 0 4px 2px -2px #676767;
  padding-bottom: 2px;
}

.section-card-title {
  background-color: #a9a9a9;
  padding: 0.25em;
  font-size: 16px !important;
}
.p-1 {
  padding: 0.25em;
}
.tagsStyle {
  font-size: 12px !important;
  border-radius: 1em;
  padding: 3px;
  margin: 4px;
  font-weight: bold;
}
.tagsWrapper {
  padding: 4px;
}
.hidden {
  display: none;
}
.material-bg {
  background-color: #ee6e73 !important;
}
.card-m05 {
  margin: 0.5rem 0 0.5rem 0 !important;
}
.card > .card-content {
  padding: 0.5em !important;
}
